* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  padding: 2rem;
}
.app {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.search-form {
  width: 100%;
  max-width: 550px;
  display: flex;
}
.search-form input {
  flex: 1;
  padding: 10px;
}
.select-category-form {
  width: 100%;
}
.select-category-form select {
  width: 30%;
  padding: 8px;
  padding-right: 15px;
}
.products-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 3rem;
}
.product-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #000;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.product-card-img {
  width: 30%;
  margin: auto;
}
.product-card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0;
}
.product-title {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.category-list {
  list-style: none;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #999;
  cursor: pointer;
  margin: 5px;
}
.selected {
  color: #fff !important;
  background-color: #0066ff;
}

@media screen and (max-width: 1200px) {
  .products-content {
    justify-content: center;
  }
  .product-card {
    width: 270px;
  }
}

@media screen and (max-width: 969px) {
  .product-card {
    width: 280px;
  }
}

@media screen and (max-width: 700px) {
  .product-card {
    width: 100%;
    max-width: 350px;
    margin: auto;
  }
}
